body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scriptTitle {
  font-family: 'Tangerine', serif;
  font-size: 3rem;
} 

.centered {
  text-align:center;
}

p {
  font-family: 'Bitter', sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
}

input, textarea {
  font-family: 'Bitter', sans-serif;
  color: #555; 
}

label {  
  font-family: 'Bitter', sans-serif;
  font-size:1rem;
  color: #6610f2;
}

button { 
  font-family: 'Bitter', sans-serif; 
}

.borderedBox {
  border:1px solid #ccc;
  padding:25px;
}
 