body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scriptTitle {
  font-family: 'Tangerine', serif;
  font-size: 3rem;
} 

.centered {
  text-align:center;
}

p {
  font-family: 'Bitter', sans-serif;
  font-size: 1rem;
}

label {
  width: 20%;
  text-align: right;
  font-family: 'Bitter', sans-serif;
  font-size:1rem;
  color: #6610f2;
}

button {
  background-color: #40c9ff;
  padding:1em;
  font-family: 'Bitter', sans-serif;
  border: none;
}

.borderedBox {
  border:1px solid #ccc;
  padding:25px;
}

 